.git
.gitignore
.idea
.DS_Store
venv
__pycache__
*.pyc
*.pyo
*.pyd
clipmato/__pycache__
clipmato/agents/__pycache__
clipmato/cli/__pycache__
clipmato/routers/__pycache__
clipmato/services/__pycache__
clipmato/steps/__pycache__
clipmato/utils/__pycache__
clipmato/uploads
chatgpt.txt
